<div class="container">
  <h1 class="page-header">Ticket list</h1>
  <%= render "ticket_list" %>

  <%= link_to 'New Ticket', new_ticket_path, class:"btn btn-default"  %>
  <%= link_to 'Back', "/", class:"btn btn-default" %>
</div>